
/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url("../components/btn.css");



/* Ensure that the HTML and body fill the entire height of the screen */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Setting up the main layout */
.article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%; /* Or use min-height to adjust according to content */
  padding: 20px;
  box-sizing: border-box;
}

.section {
  display: flex;
  width: 100%; /* Adjust width to fit screen or content size*/
}
cpm
.contact {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
}
.contact-form, .contact-content {
  flex: 1; /* bisecting space */
  margin: 10px;
}


.contact-form {
  max-width: 60%;
}

.contact-content {
  max-width: 40%;
}


.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px; 
}

.item-icon {
  margin-right: 10px; 
}

.contact-list {
  list-style: none;
  padding: 0;
}


.contactList ul li {
  text-decoration: none;
  padding: 0 20px;
  display: inline;
  margin-left: -15px;
}

.buttons {
  padding-left: 40px;
}




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  .contact-form { padding: 35px; }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  .contact .container {
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 20px;
  }

  .contact-content {
    width: 70%;
    margin-inline: auto;
  }

}